


  <div class="row">
    <h1 class="center">Matches</h1>
  </div>
  <div class="row">
    <div class="col-2"></div>
    <div class="col">
      <ol>
      {{#each profiles}}
      <li class='profile-info'>
        <div class="row d-flex">
          <section>
            <p>Name</p>
            {{this.firstName}}
          </section>
          <section>
            <p>Age</p> 
            {{this.birthday}}
          </section>
          <section>
            <p>Gender</p>
            {{this.gender}}
          </section>
          <section>
            <p>Gender Orientation</p>
            {{this.genderOrientation}}
          </section>
          <section>
            <p>Biography</p>
            {{this.biography}}
          </section>
          {{!-- Come back here for the uploading of a photo --}}
          <section>
            <img class="profile-picture" src={{this.imageURL}} />
          </section>
          <section>
            <a class="btn btn-primary buttonz"><img class="button-image-icon" src="/imgs/icon.png">masual</a>
          </section>
          <br><br><br><br><br>
        </div>
      </li>
      {{/each}}
    </ol>
    </div>
  </div>    
      
    
 
